<style>

.content {
	margin: 0 auto;
	width: 960px;
}

#slide1 {
	width:100%;
	/*background: url('https://media.giphy.com/media/T5jf3Pa89f5bG/giphy.gif') 50% 0 no-repeat fixed;*/
	/*background: url('assets/__Business_v03.jpg') 50% 0 no-repeat fixed;*/
	background-size: cover;
	background-color: #0000ff;
	color: #0000ff;
	height: 600px;
	/* height was originally 600px */
	margin: 0;
	padding: 20px 0;
}
</style>

<!-- <h1>Bizness#show</h1> -->

<div class="content" id="slide1">
	<p>Hello</p>
	<%= image_tag 'img-2.jpg' %>
</div>