<style>

	body {
	  background: url('assets/LegendHasIt_BGstill.jpg') 50% 0 no-repeat fixed;
      z-index: 15;
      background-size: cover;
      margin: 0;
      overflow: hidden;
      padding: 0 0;
	  background-color: #262626

	}
	
	div {

      padding: 2vh 0;
      vertical-align: middle;
    }

    p {
      font-family: "Josefin Sans", sans-serif;
      font-style:; 
      font-size: 2.1em;
      line-height: 150%;
      margin-top: 18px;
      padding: 10vh 10vw 6vw 10vh;
      text-align: center;
      color: #cc6600;
      opacity: .9;
      text-shadow:
       -1.6px -1.6px 0 #000,  
        1.6px -1.6px 0 #000,
        -1.6px 1.6px 0 #000,
         1.6px 1.6px 0 #000;
    }
    .image-backdrop {
      background: url('/assets/LegendHasIt_BGstill.jpg') 50% 0 no-repeat fixed;
      z-index: 12;
      background-size: cover;
      height: 100vh;
      width: auto;
      margin: 0;
      overflow: hidden;
      padding: 0 0;
    }
</style>

<div class="image-backdrop">
	<div>
		<p>Crowdfund The Jewels – The internet is a great communication tool, and it has created unprecedented opportunities. Victims of tragedy can appeal to the world at large for help with medical bills or funeral costs. Inventors and entrepreneurs can go to the same well to fund their startups and hair-brained schemes.  Established Hollywood stars can dip into those waters to fund their pet films and sequels. The boys explore the world of crowd sourcing, from the aspirational to the exploitive.</p>
	</div>
</div>
