<h1>Next The Jewels</h1>
<div>
	<p>Next The Jewels: We already live in the future. We each carry tiny computers in our pockets all day. The internet is available anywhere and everywhere. But when does modern science, really go full sci-fi. Mike and El-P meet with the most cutting scientists and engineers to see what lies around the corner for humanity. Artificial intelligences are already teaching themselves their own languages. Doctors can already select traits for your future babies. Is technology blasting past our human ability to measure it against ethics and morals? How long will it be until, like last year’s iPhone, humans are obsolete?</p>
</div>