<h1>Rap The Jewels</h1>
<div>
	<p>Rap The Jewels – With unprecedented access to the hip-hop community, and an interracial act on the forefront of political and social advocacy, Killer Mike and El-P take a long look at the past, present, and future of the art form they love. Rap and hip-hop are decidedly black art forms and El-P is decidedly, well, not black. What differentiates El-P from Elvis or Eminem? How does being an interracial group prove a challenge in the industry—or a boon? The guys get old school, interviewing the old guard, the ones still out there writing and performing today, and even check in to see who is up and coming.</p>
</div>