<style>
	body {
	  background: url('assets/LegendHasIt_BGstill.jpg') 50% 0 no-repeat fixed;
      z-index: 15;
      background-size: cover;
      margin: 0;
      overflow: hidden;
      padding: 0 0;
	  background-color: #262626

	}
	
	div {

      padding: 2vh 0;
      vertical-align: middle;
    }

    p {
      font-family: "Josefin Sans", sans-serif;
      font-style:; 
      font-size: 2.1em;
      line-height: 150%;
      margin-top: 18px;
      padding: 10vh 10vw 6vw 10vh;
      text-align: center;
      color: #cc6600;
      opacity: .9;
      text-shadow:
       -1.6px -1.6px 0 #000,  
        1.6px -1.6px 0 #000,
        -1.6px 1.6px 0 #000,
         1.6px 1.6px 0 #000;
    }
    .image-backdrop {
      background: url('/assets/LegendHasIt_BGstill.jpg') 50% 0 no-repeat fixed;
      z-index: 12;
      background-size: cover;
      height: 100vh;
      width: auto;
      margin: 0;
      overflow: hidden;
      padding: 0 0;
    }
</style>

<div class="image-backdrop">
	<div>
		<p>Rap The Jewels – With unprecedented access to the hip-hop community, and an interracial act on the forefront of political and social advocacy, Killer Mike and El-P take a long look at the past, present, and future of the art form they love. Rap and hip-hop are decidedly black art forms and El-P is decidedly, well, not black. What differentiates El-P from Elvis or Eminem? How does being an interracial group prove a challenge in the industry—or a boon? The guys get old school, interviewing the old guard, the ones still out there writing and performing today, and even check in to see who is up and coming.</p>
	</div>
</div>