<style>

	body {
	  background: url('assets/LegendHasIt_BGstill.jpg') 50% 0 no-repeat fixed;
      z-index: 15;
      background-size: cover;
      margin: 0;
      overflow: hidden;
      padding: 0 0;
	  background-color: #262626

	}
	
	div {

      padding: 2vh 0;
      vertical-align: middle;
    }

    p {
      font-family: "Josefin Sans", sans-serif;
      font-style:; 
      font-size: 2.1em;
      line-height: 150%;
      margin-top: 18px;
      padding: 10vh 10vw 6vw 10vh;
      text-align: center;
      color: #cc6600;
      opacity: .9;
      text-shadow:
       -1.6px -1.6px 0 #000,  
        1.6px -1.6px 0 #000,
        -1.6px 1.6px 0 #000,
         1.6px 1.6px 0 #000;
    }
    .image-backdrop {
      background: url('/assets/LegendHasIt_BGstill.jpg') 50% 0 no-repeat fixed;
      z-index: 12;
      background-size: cover;
      height: 100vh;
      width: auto;
      margin: 0;
      overflow: hidden;
      padding: 0 0;
    }
</style>

<div class="image-backdrop">
	<div>
		<p>Fuck You The Jewels – People are angry. People want to fight. People just aint’ getting along…or so it seems. Right now, the right and the left are getting all kinds of extreme and Prez Donnie Trump is tossing gas on the simmering fires of intolerance and hatred. So…what gives? Why can’t we get along? What’s at the heart of our insecurities and our inability to make real progress? What is the real history of our country? Mike and El-P engage with some of the heads of each movement in an effort to get to the heart of what really matters.</p>
	</div>
</div>

