<style>

	body {
	  background: url('assets/LegendHasIt_BGstill.jpg') 50% 0 no-repeat fixed;
      z-index: 15;
      background-size: cover;
      margin: 0;
      overflow: hidden;
      padding: 0 0;
	  background-color: #262626

	}
/*	#slide1 {
      background: url('assets/LegendHasIt_BGstill.jpg') 100% 0 no-repeat fixed;
      z-index: 15;
      background-size: cover;
      height: 150vh;
      width: auto;
      color: #fff;
      margin: 0;
      overflow: hidden;
      padding: 0 0;
    }*/
	div {

      padding: 2vh 0;
      vertical-align: middle;
    }

    p {
      /*color: #267481;*/
      /*color: #fff;*/
      /*color: #ff0000;*/
      /*color: #B8860B;*/
      font-family: "Josefin Sans", sans-serif;
      font-style:; 
      font-size: 2.1em;
      line-height: 150%;
      margin-top: 18px;
      padding: 15vh 10vw 6vw 10vh;
      text-align: center;
      /*color: #FFF8DC;*/
      color: #cc6600;
      opacity: .9;
      text-shadow:
       -1.6px -1.6px 0 #000,  
        1.6px -1.6px 0 #000,
        -1.6px 1.6px 0 #000,
         1.6px 1.6px 0 #000;
    }
    .image-backdrop {
      background: url('/assets/LegendHasIt_BGstill.jpg') 50% 0 no-repeat fixed;
      z-index: 12;
      background-size: cover;
      height: 100vh;
      width: auto;
      /*color: #fff;*/
      margin: 0;
      overflow: hidden;
      padding: 0 0;
    }
</style>

<div class="image-backdrop">
	<div>
		<p>Enhance The Jewels – Weed as a recreational drug is the bleeding edge of public discourse.  State after state has legalized its use in the face of federal refusal to do so.  But what about private companies?  UPS still tests for marijuana, and so does a more lucrative acronym… the NFL.  Artists have long claimed that ganja aids the creative process, but more and more professional athletes and every day, blue-collar workers now say it is more effective than most painkillers.  Is it really a tonic that can rejuvenate quality of life?  Whose got it wrong or right in this debate?  What does the science say vs. anecdotal evidence?  The boys delve into the cold, hard facts--and simple intuition--behind what shouldn’t really be so controversial.</p>
	</div>
</div>